services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        - GEMINI_API_KEY=${GEMINI_API_KEY}
    ports:
      - "3014:3014"
    restart: always
    container_name: healspace-frontend
